<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Circle CI Challenge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>About Circle CI Challenge</h3>
<p>As the point of this project was using circle CI, it was not built with maintainability in mind.</p>
<p>If building a real application that displayed dynamic test, I would have done things a bit differently</p>
<ul>
    <li>Use jQuery to introduce simpler dom manipulation and AJAX support</li>
    <li>Button click would use jquery to make call to REST api that provided the data payload</li>
    <li>Render the payload using google closure templates, js templates, or simple element insertion</li>
</ul>



<p>You can learn more about Eddie Webb at <a href="https://edwardawebb.com">His website</a></p>

</body>
</html>